.header {
  display: flex;

  justify-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.logo {
  font-family: "Dancing Script";
  font-size: 35px;
  margin: 0;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rubik";
  font-size: 15px;
}
